@use "../assets/globals" as globals;

.Layout {
    min-height: 100vh;
    margin: 0 auto;
}

.content {
    @media only screen and (max-width: 600px) {
        padding: 0 15px;
    }
    padding: 0;
}

.NavBar {
    @media only screen and (max-width: 600px) {
        padding: 0 5px;
    }
    padding: 0;
    color: globals.$color-primary;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer {
    padding: 1.5rem 0;
    border-top: 3px dotted #7f7f7f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}