@use "../styles/colors";

.PublicationItem {
    line-height: 20px;
    
    margin-bottom: 2rem;
}

.Title {
    margin-bottom: .5rem;
    color: colors.$color-primary;
    margin-top: .5rem;
    line-height: 1.5rem;
}

.Tag {
    color: colors.$color-primary;
    display: inline;
    font-size: .8rem;
}

.Date {
    margin-bottom: 0;
    opacity: .75;

}